body {
    background-image: url("fractal_mesh_violet_122684_2000x2000.jpg");
    font-family: 'Libre Baskerville', serif;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    font-style: italic;
    font-size: 50px;
    color: yellow;
}

.div1 {
    border-style: none;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -100px;
    background-color: deepskyblue;
}

.div2 {
    border-style: none;
    border-radius: 5px;
    width: 400px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: deepskyblue;
}

.div4 {
    border-style: none;
    border-radius: 5px;
    width: 300px;
    background-color: deepskyblue;
    margin-left: 250px;
    margin-top: 100px;
}

.div5 {
    border-style: none;
    border-radius: 5px;
    width: 400px;
    background-color: deepskyblue;
    margin-left: 700px;
    margin-top: -120px;
}

.div6 {
    border-style: none;
    border-radius: 5px;
    width: 300px;
    background-color: deepskyblue;
    margin-left: 250px;
}

.contact {
    border-style: none;
    border-radius: 5px;
    width: 300px;
    background-color: deepskyblue;
    margin-left: 700px;
    margin-top: -100px;
}

th, td {
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    padding-left: 15px;
    background-color: deepskyblue;
    border-collapse: collapse;
}

.div7 {
    margin-top: 50px;
}

.div8 {
    color: yellow;
    text-align: center;
    font-size: 50px;
}

table {
    background-color: deepskyblue;
    width: 250px;
    margin-left: 150px;
}